<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
    <script src="js/angular.js"></script>
    <script src="js/ng30/myform_main.js"></script>
    <script src="js/ng30/form_Ctrl.js"></script>

</head>
<body data-ng-app="myform" data-ng-controller="formData">
    <table id="myCustomer">
        <tr>
            <td>ID</td>
            <td>Name</td>
            <td>Email</td>
            <td>Subject</td>
            <td>Message</td>
            <td>Modify</td>
            <td>Delete</td>
        </tr>
        <tr data-ng-repeat="item in myArray">
            <td>{{item.ID}}</td>
            <td> <input type="text" value="{{item.Name}}"  /></td>
            <td> <input type="text" value="{{item.Email}}"  /></td>
            <td> <input type="text" value="{{item.Subject}}" /> </td>
            <td> <input type="text" value="{{item.Message}}"  /></td>
            <td> <input type="button" value="Modify" data-ng-click="modify(item)" /></td>
            <td> <input type="button" value="Delete" data-ng-click="delete(item,$index)" /></td>
        </tr>
    </table>
    
    <input type="text" class="new_name" placeholder="Name" />
    <input type="text" class="new_email" placeholder="Email" />
    <input type="text" class="new_subject" placeholder="Subject" />
    <input type="text" class="new_message" placeholder="Message" />
    <input type="button" value="ADD" onclick="add()" />

    <br><br><br><br>




    <script src="jquery-1.12.3.js"></script>

    <script>


        $.ajaxSetup({
            contentType: "application/json; charset=utf-8"
        });
        ////新增資料

        ////1. 取得新增資料的值，並宣告json資料格式
        function add() {
            var new_client={
                ID: $('.new_ID').val(),
                Name: $('.new_name').val(),
                Email: $('.new_email').val(),
                Subject: $('.new_subject').val(),
                Message: $('.new_message').val()
            }
            var new_json = JSON.stringify(new_client);   ////2.將取得的值轉換為json格式

            $.post("http://localhost/MyAPI/api/myapi/post", new_json)  ////3.jQuery post新增到後端
            .done(function (new_info) {

                ////4. 新增到後端後，新增到表格
                $('#myCustomer tr:last').after("<tr>"
                                                    + "<td><input type='text' value='" + $('.new_name').val() + "'></td>"
                                                    + "<td><input type='text' value='" + $('.new_email').val() + "'></td>"
                                                    + "<td><input type='text' value='" + $('.new_subject').val() + "'></td>"
                                                    + "<td><input type='text' value='" + $('.new_message').val() + "'></td>"
                                                    +"<td><button class='modify'>modify</button>"
                                                    + "<td><button class='delete'>delete</button></td></tr>")

               

            });



        }

        //// 刪除&修改資料

        //1. GET 取得所有顧客的資料
        //$.get("http://localhost/MyAPI/api/myapi/Get")
        //.done(function (data) {
            //2. 取得資料的筆數
            //console.log(data.length);
            //console.log(data);
            //3. 利用迴圈把顧客的資料新增到表格裡
            //for (var i = 0; i < data.length; i++) {
            //    //console.log(data[i].Name);

            //    $('#myCustomer').append("<tr><td>" + data[i].ID +"</td>"
            //                                        + "<td><input type='text' value='" + data[i].Name + "'></td>"
            //                                       + "<td><input type='text' value='" + data[i].Email + "'</td>"
            //                                       + "<td><input type='text' value='" + data[i].Subject + "'</td>"
            //                                       + "<td><input type='text' value='" + data[i].Message + "'</td>"                                                  
            //                                       + "<td><button class='modify'>modify</button></td>"
            //                                       + "<td><button class='delete'>delete</button></td></tr>"
            //                                       )
            //}
            //$(".modify").on('click', function (e) {
            //    //$(this).parent().parent().children().eq(1);
            //    //$(this).parent().parent().children().eq(2);
            //    //$(this).parent().parent().children().eq(3);
            //    //$(this).parent().parent().children().eq(4);
            //    //console.log($(this).parent().parent().children().eq(1));
            //    //console.log($(this).parent().parent().children().eq(2));
            //    //console.log($(this).parent().parent().children().eq(3));
            //    //console.log($(this).parent().parent().children().eq(4));
            //    var modi_tr0 = $(this).parent().parent().children().eq(0).text();
            //    //console.log(modi_tr0);
            //    var modi_tr1 = $(this).parent().parent().children().eq(1).children().val();
            //   // console.log(modi_tr1);
            //    var modi_tr2 = $(this).parent().parent().children().eq(2).children().val();
            //    var modi_tr3 = $(this).parent().parent().children().eq(3).children().val();
            //    var modi_tr4 = $(this).parent().parent().children().eq(4).children().val();
            //    var addjosn = {
            //                ID: modi_tr0,
            //                Name: modi_tr1,
            //                Email: modi_tr2,
            //                Subject: modi_tr3,
            //                Message: modi_tr4
            //    }
            //    var converse = JSON.stringify(addjosn);
            //    console.log(converse);
            //    $.post('http://localhost/MyAPI/api/myapi/EditItem', converse)
            //    .done(function (modified) {
            //        console.log(modified);
            //    })
            //});


            //$(".delete").on('click', function (e) {
            //    $(this).parent().parent().children().eq(0);
            //   //console.log($(this).parent().parent().children().eq(0));
            //    var tr = $(this).parent().parent();
            //    $.post("http://localhost/MyAPI/api/myapi/Delete?ID=" + $(this).parent().parent().children().eq(0).text())
            //        .done(function (removed) {

            //            console.log(removed);
            //            var test1 = JSON.parse(removed);
            //            //console.log(test1.msg == "成功");
            //            if (test1.msg == "成功") {
            //                tr.remove();
            //            }

            //        });

            //});

           
        //});

        
    </script>
</body>
</html>